<h3>User Dashboard</h3>
<br />
<div class="user-box">
	<div class="col-xs-4">	
		<%= image_tag 'user.png' %>
	</div>

	<div class="col-xs-8">
		<h1><%= @user.email %></h1>
		<h1>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h1><br />
		<h4>Has left <%= @user.comments.count %> comments</h4><br />
		<h4>Has given <%= @user.comments.where(:rating => '5_stars').count %> total 5-star reviews</h4>
	</div>
	<div class="clear"></div>	
</div>
<br />
<h1 class="text-center">Comments I have made</h1>
<% @user.comments.each do |comment| %>
	<div class="col-xs-12 col-sm-6">
	    <blockquote>
	      <% if comment.humanized_rating.present? %>
	        <b><%= comment.humanized_rating %></b> -
	      <% end %>
	      <%= comment.message %>
	    </blockquote>
  	</div>
<% end %>
<div class="clear"></div>
<br /><br />
<h2 class="text-center">Places I have recently visited</h2>
<br /><br />
<% @user.places.each do |place| %>
	<% if place.comments.present? %>
			<div class="col-xs-12">
    			<%= place.name %><br />
      			<blockquote>
      				<% if place.comments.last.humanized_rating.present? %>
        				<b><%= place.comments.last.humanized_rating %></b> -
      				<% end %>
      				<%= place.comments.last.message %></div>
      			</blockquote>
			</div>
	<% end %>
<% end %>






