<h1>Know of a great place that you didn't see here and want to share it?</h1> 
<br />
<div class="place-box col-xs-10 col-xs-offset-1">
	<h1>Tell us about your place:</h1>
	<%= simple_form_for @place do |f| %>
		<%= f.input :name %>
		<%= f.input :address %>
		<%= f.input :description %>
		<br />
		<%= f.submit 'Create', :class => "btn btn-primary" %>
	<% end %>





